@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    /* Removed all transitions to make it instant */
    @apply bg-gray-50 text-black dark:bg-slate-900 dark:text-white;
  }
}